body {
  margin: 1rem;
}

h1,
h2,
p {
  font-family: Arial;
}

body > h1 {
  text-align: center;
}

.movies {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.movies > div {
  display: flex;
  align-items: center;
  box-shadow: -1px 1px 3px black;
  border-radius: 10px 0 0 10px;
}

.movies > div::after {
  content: "";
  width: 5px;
  height: 200px;
  background-color: #bdbdbd;
}

.movies > div > img {
  width: 150px;
  height: 200px;
  border-radius: 10px 0 0 10px;
}

.movies > div > h2 {
  margin-left: 1rem;
}

@media (max-width: 900px) {
  .movies > div > h2 {
    max-width: 20rem;
  }
}

.ratings {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  width: 12rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ratings p {
  padding-left: 1rem;
  text-align: center;
  background-size: contain !important;
  width: 4rem;
  font-size: 20px;
}

.ratings p:first-child {
  padding-left: 0;
  width: 100%;
}

.ratings p:first-child::after {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  margin: auto;
  background-color: grey;
}

.ratings p:nth-child(2) {
  background: url("assets/tmdb.png") no-repeat;
}

.ratings p:nth-child(3) {
  background: url("assets/imdb.png") no-repeat;
}

.ratings p:nth-child(4) {
  background: url("assets/rotten.png") no-repeat;
}

.ratings p:nth-child(5) {
  background: url("assets/meta.png") no-repeat;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}
.btn:active {
  position: relative;
  top: 1px;
}

.search-form {
  display: inline;
}

.search-form input {
  border-color: #cccccc;
  padding: 6px;
  border-width: 1px;
  border-radius: 6px;
  border-style: solid;
  font-size: 15px;
}

.nav {
  float: right;
  display: inline;
}

.loading {
  margin: 2rem auto;
  border: 6px solid #ebebeb;
  border-top: 6px solid #555555;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
